@{
    string devMaterial = "https://cdn.jsdelivr.net/npm/@material-ui/core@latest/umd/material-ui.development.js";
    string prodMaterial = "https://cdn.jsdelivr.net/npm/@material-ui/core@latest/umd/material-ui.production.min.js";
}

<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @* <link rel="stylesheet" href="~/css/site.css" /> *@
    <link rel="stylesheet" href="~/css/Base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tailwind.css" asp-append-version="true" />
    <environment include="Development">
        <!-- Dependencies -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/18.2.0/umd/react.development.js" crossorigin></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.2.0/umd/react-dom.development.min.js"
            crossorigin></script>
        <script src="@devMaterial" crossorigin></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js" crossorigin></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"
            crossorigin></script>
    </environment>
    <environment exclude="Development">
        <!-- Dependencies -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/18.2.0/umd/react.production.min.js"
            crossorigin></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.2.0/umd/react-dom.production.min.js"
            crossorigin></script>
        <script src="@prodMaterial" crossorigin></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js" crossorigin></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"
            crossorigin></script>
    </environment>
</head>

<body class="bg-mainDarkBlue h-full flex flex-col overflow-x-hidden">
    @RenderBody()
    @* <header class="bg-mainDarkBlue flex flex-row text-white p-4 px-12">
    <div>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
    <partial name="~/Views/IconsPartials/Logo.cshtml" />
    </a>
    </div>
    <nav id="navMenu"></nav>
    </header>
    <div class="baseContainer mx-auto lg:w-11/12 w-full">
    <main role="main" class="pb-3 text-white">

    </main>
    </div>

    <footer class="text-center m-4 text-white">
    <span class="m-auto">@DateTime.Now.Year - Budget&Investment</span>
    </footer> *@
</body>

<script src="~/js/site.js" asp-append-version="true"></script>
@* <script src="~/js/menu.js"></script> *@
@RenderSection("Scripts", required: false)

</html>
